<div class="nav">
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent class="nav">
      <button style="font-family:'Star Jedi'" mat-menu-item routerLink="">Home</button>
      <button style="font-family:'Star Jedi'" mat-menu-item routerLink="movies">Movies</button>
      <button style="font-family:'Star Jedi'" mat-menu-item routerLink="people">People</button>
      <button style="font-family:'Star Jedi'" mat-menu-item routerLink="planets">Planets</button>
    </ng-template>
  </mat-menu>
  <button style="font-family:'Star Jedi'" mat-button [matMenuTriggerFor]="appMenu">StarWars Explorer</button>
</div>
