<div class="dialog">

<h4>{{person.name}}</h4>
  <hr>
<label for="height">Height</label>
<p id="height">{{person.height}}</p>

<label for="mass">Mass</label>
<p id="hair_colour">{{person.mass}}</p>

<label for="hair_colour">Hair Colour</label>
<p id="mass">{{person.hair_colour}}</p>

<label for="skin_colour">Skin Colour</label>
<p id="skin_colour">{{person.skin_colour}}</p>

<label for="mass">Gender</label>
<p id="gender">{{person.gender}}</p>

<label for="mass">Birth Year</label>
<p id="birth_year">{{person.birth_year}}</p>

</div>
