<div *ngIf="innerWidth > 500">
  <h4>{{movie.title}}</h4>
  <hr>
  <mat-grid-list cols="3" rowHeight="20em">
    <mat-grid-tile>
      <mat-dialog-content>
        <label for="director">Director</label>
        <p id="director">{{movie.director}}</p>
        <label for="producer">Producer(s)</label>
        <p id="producer">{{movie.producer}}</p>
        <label for="release_date">Release Date</label>
        <p id="release_date">{{movie.release_date | date}}</p>
      </mat-dialog-content>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-dialog-content style="height: 20em">
        <br>
        <label *ngIf="planets.length > 0">Planets</label>
        <br>
        <div *ngFor="let planet of planets">
          <mat-card (click)="dialogService.openPlanetDialog(planet)">{{planet.name}}</mat-card>
          <br>
        </div>
        <mat-spinner *ngIf="planetLoading"></mat-spinner>
      </mat-dialog-content>
    </mat-grid-tile>

    <mat-grid-tile style="display: inline-block; vertical-align: top">
      <mat-dialog-content style="height: 20em">
        <br>
        <label *ngIf="characters.length > 0">Characters</label>
        <br>
        <div *ngFor="let person of characters">
          <mat-card (click)="dialogService.openPersonDialog(person)">{{person.name}}</mat-card>
          <br>
        </div>
        <mat-spinner *ngIf="characterLoading"></mat-spinner>
      </mat-dialog-content>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="innerWidth <= 500">
  <mat-dialog-content class="dialog">
    <h4>{{movie.title}}</h4>
    <hr>
    <label for="director">Director</label>
    <p id="director">{{movie.director}}</p>
    <label for="producer">Producer(s)</label>
    <p id="producer">{{movie.producer}}</p>
    <label for="release_date">Release Date</label>
    <p id="release_date">{{movie.release_date}}</p>

    <label *ngIf="planets.length > 0">Planets</label>
    <br>
    <div *ngFor="let planet of planets">
      <mat-card (click)="dialogService.openPlanetDialog(planet)">{{planet.name}}</mat-card>
      <br>
    </div>
    <mat-spinner *ngIf="planetLoading"></mat-spinner>

    <label *ngIf="characters.length > 0">Characters</label>
    <br>
    <div *ngFor="let person of characters">
      <mat-card (click)="dialogService.openPersonDialog(person)">{{person.name}}</mat-card>
      <br>
    </div>
    <mat-spinner *ngIf="characterLoading"></mat-spinner>

  </mat-dialog-content>
</div>
