/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100%;
  background-color: #3e3739;
  color: #218bd1;
}

.nav{
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif; }

.card {
  width: 61.8%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  background-color: #dcdce5;
  color: #130c0e;
}

.mat-dialog-container{
  background-color: #dcdce5;
  color: #130c0e;
}

.flare{
  width: 25%;
  margin-right: 37.5%;
  margin-left: 37.5%;
  margin-top: 5em;
}

.loading {
  width: 61.8%;
  margin-left: auto;
  margin-right: auto;
  stroke: #218bd3 !important;

}

.mat-spinner::ng-deep circle {
  stroke: #218bd3 !important;
}

label {
  font-weight: bold;
}

@font-face {
  font-family: Star Jedi;
  src: url(./assets/star-jedi.ttf) format('truetype');
}

h1 {
  text-align: center;
  font-family: Star Jedi;
  font-size: 5em;
}

button {
  font-family: Star Jedi;
}
