/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100%;
  background-color: #3e3739;
  color: #218bd1;
}
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif; }

.card {
  width: 61.8%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  background-color: #dcdce5;
  color: #130c0e;
}

.mat-dialog-container{
  background-color: #dcdce5;
  color: #130c0e;
}

.flare{
  width: 25%;
  margin-right: 37.5%;
  margin-left: 37.5%;
  margin-top: 5em;
}

label {
  font-weight: bold;
}

